footer > nav > ul {
    padding: 0.5em 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

footer > nav > ul > li {
    flex: 5;
    text-align: center;
}

footer > div {
    height: 3em;
}

#policy {
    background-repeat: no-repeat;
    background-image: url(https://wedd4860.cafe24.com/static/demo/demo1-1/img/copyright.jpg);
    background-position: center;
}